version: '3'

services:
    app:
        restart: always
        build:
            context: .
            dockerfile: ./Dockerfile
        environment:
            - NODE_ENV=production
            - TOPIC=testedeDOC
            - ENG_REST_URL=${CAMUNDA_URL}
            - ENG_REST_USERNAME=${CAMUNDA_USERNAME}
            - ENG_REST_PASSWORD=${CAMUNDA_PASSWORD}
            - MAX_TASK_DURATION=30000
            - CAMUNDA_DOMAINS_HOST=${CAMUNDA_DOMAINS_HOST}
            - CAMUNDA_DOMAINS_PORT=${CAMUNDA_DOMAINS_PORT}
            - CAMUNDA_DOMAINS_USER=${CAMUNDA_DOMAINS_USER}
            - CAMUNDA_DOMAINS_DB=${CAMUNDA_DOMAINS_DB}
            - CAMUNDA_DOMAINS_PASS=${CAMUNDA_DOMAINS_PASS}
        volumes:
            # - ./src:/home/python/app
            - /mnt/docs/Sites/cett-ti/documentLibrary/Processos/Ensino/gerarEdital/Editais:/home/appuser/app/outputs:rw
            - /mnt/docs/Sites/cett-ti/documentLibrary/Processos/Ensino/gerarEdital/Templates:/home/appuser/app/templates:ro
