[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
docxtpl = "*"
envconfiguration = "*"
pandas = "*"
caworker = "*"
pymysql = "*"
unidecode = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pylance = "*"
